<div class='events'>
	{%- for event in events -%}
		{%- assign buildTime = 'now' | date: '%Y%m%d' -%}
		{%- assign eventDate = event.date | date: '%Y%m%d' -%}
		<article class='event | center box {% if eventDate > buildTime %}future{% endif -%}' lang='en'>
			{%- if event.image -%}
				<figure>
					<img src='{{ event.image }}' alt='A photo of Tommi while hosting the workshop at {{ event.title }}'>
				</figure>
			{%- endif -%}
			<h2>{{ event.title }}</h2>
			<p>{{ event.location }} – {{ event.date | date_to_string }}</p>
			<div class='flex'>
				{%- if event.url -%}
					<a class='green button' href='{{ event.url }}'>Event</a>
				{%- endif -%}
				{%- if event.notes -%}
					<a class='fuchsia button' href='{{ event.notes }}'>Notes</a>
				{%- endif -%}
			</div>
		</article>
	{%- endfor -%}
</div>
