<head>
	<!-- Basic -->
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover'>
	<meta name='color-scheme' content='dark light'>

	<!-- Block AI robots -->
	<meta name='robots' content='noai, noimageai'>

	<!-- Assets -->
	<link rel='stylesheet' href='/style.css' type='text/css'>

	<!-- Favicon -->
	<link rel='icon' sizes='16x16 32x32 48x48' href='/favicon.ico'>

	<!-- Metadata -->
	<title>{{ title | default: site.title }}</title>
	<meta property='og:title' content='{{ title | default: site.title }}'>
	<meta name='description' content='{{ description | default: site.description }}' data-pagefind-meta='description[content]'>
	<meta property='og:description' content='{{ description | default: site.description }}'>
	<meta property='og:author' content='{{ site.author.name }}'>
	<meta name='author' content='{{ site.author.name }}'>
	<meta property='og:site_name' content='{{ site.title }}'>
	<meta name='generator' content='Eleventy'>
	<meta property='og:url' content='{{ site.url }}{{ page.url }}'>
	<link rel='canonical' href='{{ site.url }}{{ page.url }}'>
	{% if date %}<meta property='og:article:published_time' content='{{ date | date_to_xmlschema }}'>{% endif %}
	{% if updated %}<meta property='article:modified_time' content='{{ updated | date_to_xmlschema }}'>{% endif %}
	<meta property='og:image' content='{{ image | default: site.image }}'>
	<meta name='twitter:card' content='summary_large_image'>
	<meta property='og:type' content='{{ type | default: 'website' }}'>
	<meta property='og:locale' content='{{ lang }}'>
	{% for alternate in alternates %}
		<meta property='og:locale:alternate' content='{{ alternate.data.lang }}'>
		<link rel='alternate' href='{{ alternate.url }}'>
	{% endfor %}

	<link rel='me' href='{{ site.author.website }}'>
	<link rel='me pgpkey' href='https://api.protonmail.ch/pks/lookup?op=get&search={{ site.author.email }}'>

	<link rel='alternate' type='application/rss+xml' title='Main feed' href='/index.xml'>

	<meta name='theme-color' content='#FCC920' media='(prefers-color-scheme: light)'>
	<meta name='theme-color' content='#000000' media='(prefers-color-scheme: dark)'>
</head>

